/* 背景色 */
.bg-tomato {
    background-color: #ff402a;
}

.bg-juhuang {
    background-color: #ff8400;
}

.bg-meitulv {
    background-color: #2bb8aa;
}

.bg-warning {
    background-color: #fffbf0;
}

.bg-table-even {
    background-color: #f6f6f6;
}