.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-image: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
    outline: none;
}

.btn-default {
    background-color: #f2f2f2;
    border-color: #e0e0e0;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
    background-color: #EDEDED;
}

.btn.disabled, .btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f4f4f4;
    border: 1px #ddd solid;
    color: #cecece;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-lg {
    padding: 12px 48px;
    font-size: 16px;
    line-height: 1;
    border-radius: 3px;
}

.btn-flat {
    padding: 6px 20px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-xs {
    padding: 4px 7px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn > .iconfont {
    margin-right: 4px;
    font-size: 16px;
    line-height: 1;
}