<div class="tomasky-ui-dialog">
    <div class="ui-dialog-inner" data-dom="dialog">
        <div class="ui-dialog-head" data-dom="head">
            <h3 class="ui-dialog-title" data-dom="title"></h3>
            <a class="ui-dialog-close" href="javascript:;" data-dom="close">×</a>
        </div>
        <div class="ui-dialog-body" data-dom="body"></div>
        <div class="ui-dialog-foot" data-dom="foot">
            <div class="ui-dialog-btns" data-dom="buttons"></div>
        </div>
    </div>
</div>